{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_errors(form) }}
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {% for error in form.name.vars.errors %}
                                <div class="invalid-feedback d-block">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group mt-2">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}
                            {% for error in form.description.vars.errors %}
                                <div class="invalid-feedback d-block">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group mt-2">
                            {{ form_label(form.price) }}
                            {{ form_widget(form.price) }}
                            {% for error in form.price.vars.errors %}
                                <div class="invalid-feedback d-block">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group mt-2">
                            {{ form_label(form.stockQuantity) }}
                            {{ form_widget(form.stockQuantity) }}
                            {% for error in form.stockQuantity.vars.errors %}
                                <div class="invalid-feedback d-block">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
