{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="card border-light shadow">
        <div class="card-body">
            <h1>Product List</h1>
            {% for flash_message in app.flashes('success') %}
                <div class="mt-2">
                    <div class="alert alert-success" role="alert">
                        {{ flash_message }}
                        <span class="float-end">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </span>
                    </div>
                </div>
            {% endfor %}

            {% for flash_message in app.flashes('error') %}
                <div class="mt-2">
                    <div class="alert alert-danger" role="alert">
                        {{ flash_message }}
                        <span class="float-end">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </span>
                    </div>
                </div>
            {% endfor %}
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="">
                        <a href="{{ path('product_export') }}" class="btn btn-success btn-sm"><i class="bi bi-file-earmark-excel"></i> XLS</a>
                        <button class="btn btn-primary btn-sm" id="createNew"><i class="bi bi-plus-circle"></i> New</button>
                    </div>
                </div>
            </div>
            <form class="" method="post" action="{{ path('product_list') }}">
                <div class="row mt-3">
                    <div class="col-md-2">
                        <label for="price_min" class="mr-2">Price Min</label>
                        <input type="number" id="price_min" name="price_min" step="0.01" value="{{ app.request.get('price_min') }}" class="form-control form-control-sm mr-2">
                    </div>
                    <div class="col-md-2">
                        <label for="price_max" class="mr-2">Price Max</label>
                        <input type="number" id="price_max" name="price_max" step="0.01" value="{{ app.request.get('price_max') }}" class="form-control form-control-sm mr-2">
                    </div>
                    <div class="col-md-2">
                        <label for="stock_min" class="mr-2">Stock Min</label>
                        <input type="number" id="stock_min" name="stock_min" value="{{ app.request.get('stock_min') }}" class="form-control form-control-sm mr-2">
                    </div>
                    <div class="col-md-2">
                        <label for="stock_max" class="mr-2">Stock Max</label>
                        <input type="number" id="stock_max" name="stock_max" value="{{ app.request.get('stock_max') }}" class="form-control form-control-sm mr-2">
                    </div>
                    <div class="col-md-2">
                        <label for="date_from" class="mr-2">Date From</label>
                        <input type="date" id="date_from" name="date_from" value="{{ app.request.get('date_from') }}" class="form-control form-control-sm mr-2">
                    </div>
                    <div class="col-md-2">
                        <label for="date_to" class="mr-2">Date To</label>
                        <input type="date" id="date_to" name="date_to" value="{{ app.request.get('date_to') }}" class="form-control form-control-sm mr-2">
                    </div>
                </div>
                <div class="col-md-12 mt-2 text-end">
                    <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-search"></i> Search</button>
                </div>
            </form>
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">
                                <a class="links" href="{{ path('product_list', { sort: 'name', direction: sort == 'name' and direction == 'asc' ? 'desc' : 'asc' }) }}">
                                    Name
                                    {% if sort == 'name' %}
                                        {% if direction == 'asc' %}↑{% else %}↓{% endif %}
                                    {% endif %}
                                </a>
                            </th>
                            <th class="text-center">
                                <a class="links" href="{{ path('product_list', { sort: 'description', direction: sort == 'description' and direction == 'asc' ? 'desc' : 'asc' }) }}">
                                    Description
                                    {% if sort == 'description' %}
                                        {% if direction == 'asc' %}↑{% else %}↓{% endif %}
                                    {% endif %}
                                </a>
                            </th>
                            <th class="text-center">
                                <a class="links" href="{{ path('product_list', { sort: 'price', direction: sort == 'price' and direction == 'asc' ? 'desc' : 'asc' }) }}">
                                    Price
                                    {% if sort == 'price' %}
                                        {% if direction == 'asc' %}↑{% else %}↓{% endif %}
                                    {% endif %}
                                </a>
                            </th>
                            <th class="text-center">
                                <a class="links" href="{{ path('product_list', { sort: 'stockQuantity', direction: sort == 'stockQuantity' and direction == 'asc' ? 'desc' : 'asc' }) }}">
                                    Stock Quantity
                                    {% if sort == 'stockQuantity' %}
                                        {% if direction == 'asc' %}↑{% else %}↓{% endif %}
                                    {% endif %}
                                </a>
                            </th>
                            <th class="text-center">
                                <a class="links" href="{{ path('product_list', { sort: 'createdDatetime', direction: sort == 'createdDatetime' and direction == 'asc' ? 'desc' : 'asc' }) }}">
                                    Created Datetime
                                    {% if sort == 'createdDatetime' %}
                                        {% if direction == 'asc' %}↑{% else %}↓{% endif %}
                                    {% endif %}
                                </a>
                            </th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td class="text-end">{{ product.price }}</td>
                                <td class="text-end">{{ product.stockQuantity }}</td>
                                <td class="text-center">{{ product.createdDatetime|date('Y-m-d H:i:s', 'Asia/Singapore') }}</td>
                                <td class="text-center">
                                    <a class="edit_product btn btn-primary btn-sm" href="#" data-id="{{ product.id }}"><i class="bi bi-pencil-square"></i></a>
                                    <a class="delete_product btn btn-danger btn-sm" data-id="{{ product.id }}" href="{{ path('product_delete', { 'id': product.id, '_token': csrf_token('delete' ~ product.id) }) }}"><i class="bi bi-trash"></i></a>
                                    {# <a class="delete_product btn btn-danger btn-sm" data-id="{{ product.id }}"><i class="bi bi-trash"></i></a> #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="float-end">
                <nav aria-label="page navigation">
                    {% if products.haveToPaginate %}
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="{{ path('product_list', request.query.all|merge({'page': 1})) }}">First</a></li>
                            
                            {% if products.hasPreviousPage %}
                                <li class="page-item"><a class="page-link" href="{{ path('product_list', request.query.all|merge({'page': products.previousPage})) }}">Previous</a></li>
                            {% else %}
                                <li class="page-item"><span class="page-link disabled">Previous</span></li>
                            {% endif %}
                            
                            {% for page in 1..products.nbPages %}
                                {% if page == products.currentPage %}
                                    <li class="page-item active"><span class="page-link current">{{ page }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ path('product_list', request.query.all|merge({'page': page})) }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if products.hasNextPage %}
                                <li class="page-item"><a class="page-link" href="{{ path('product_list', request.query.all|merge({'page': products.nextPage})) }}">Next</a></li>
                            {% else %}
                                <li class="page-item"><span class="page-link disabled">Next</span></li>
                            {% endif %}
                            
                            <li class="page-item"><a class="page-link" href="{{ path('product_list', request.query.all|merge({'page': products.nbPages})) }}">Last</a></li>
                        </ul>
                    {% endif %}
                </nav>
                    
                <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="product_new" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create New Product</h5>
                            </div>
                            <div class="data-body">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="product_edit" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                            </div>
                            <div class="data-body">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        $("#createNew").on("click", function(){
                            var modalElement = document.getElementById('addNew');
                            var modal = new bootstrap.Modal(modalElement);
                            modal.show();
                            $.ajax({
                                url: "{{ path('product_new') }}",
                                success: function(data) {
                                    var dataBody = modalElement.querySelector('.data-body');
                                    dataBody.innerHTML = data;
                                }
                            });
                        });

                        $(".edit_product").on("click", function(){
                            var id = $(this).attr("data-id");

                            var modalElement = document.getElementById('edit');
                            var modal = new bootstrap.Modal(modalElement);
                            modal.show();
                            var url = "{{ path('product_edit', {'id': 'product_id'}) }}";
                            url = url.replace('product_id', id);

                            $.ajax({
                                url: url,
                                success: function(data) {
                                    var dataBody = modalElement.querySelector('.data-body');
                                    dataBody.innerHTML = data;
                                }
                            });
                        }); 

                        {# $(".delete_product").on("click", function(){
                            var id = $(this).attr("data-id");
                            Swal.fire({
                                title: "Are you sure?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, delete it!"
                                }).then((result) => {
                                if (result.isConfirmed) {

                                    var url = "{{ path('product_delete', { 'id': 'product_id', '_token': csrf_token('product_id') }) }}";
                                    url = url.replace('product_id', id);
                                    console.log(url)
                                    $.ajax({
                                        url: url,
                                        method: 'POST',
                                        success: function(data) {
                                            console.log(data)
                                             Swal.fire({
                                                title: "Deleted!",
                                                text: "Your file has been deleted.",
                                                icon: "success"
                                            });
                                        }
                                    });
                                }
                            });
                        }); #}
                    });
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}
